/* General Page */
body{
    font-family: Arial, Helvetica, sans-serif;
    background:#f2f2f2;
    margin:0;
    padding:0;
    text-align:center;
}

/* Main Container */
.container{
    width:600px;
    margin:40px auto;
    background:white;
    padding:30px;
    border-radius:10px;
    box-shadow:0px 0px 10px gray;
}

/* Forms */
form{
    margin-top:20px;
}

/* Inputs */
input[type=text]{
    width:90%;
    padding:10px;
    margin:10px;
    font-size:16px;
}

/* Buttons */
button{
    background:blue;
    color:white;
    border:none;
    padding:12px 20px;
    font-size:16px;
    width:250px;
    cursor:pointer;
    border-radius:5px;
}

button:hover{
    background:darkblue;
}

/* Recommendation List */
ul{
    display:inline-block;
    text-align:left;
}

/* Dashboard Table */
table{
    margin:auto;
    border-collapse:collapse;
}

th,td{
    padding:10px 20px;
    border:1px solid black;
}

/* Quiz */
.quiz-box{
    width:700px;
    margin:30px auto;
    background:white;
    padding:30px;
    border-radius:10px;
    box-shadow:0px 0px 10px gray;
    text-align:left;
}

.quiz-box h1,
.quiz-box h2,
.quiz-box h3,
.quiz-box p{
    text-align:center;
}

.question{
    margin-top:25px;
}

.question h3{
    text-align:left;
}

.question label{
    display:block;
    margin:8px 0;
    font-size:17px;
    cursor:pointer;
}

.question input[type=radio]{
    margin-right:10px;
}

.submit-btn{
    text-align:center;
    margin-top:30px;
}